/* Typography */

body {
	font-family: 'Inter', sans-serif;
	font-feature-settings: "salt" 1;
	line-height: 1.4rem;
}

p { 
	font-weight: 400; 
}

h1, h2, h3 {
	padding-top: 1rem;
}

section.intro header h1 {
	font-size: 2.5rem;
	line-height: 1em;
	font-weight: 100;
}
section.intro header h2 {
	font-size: 3rem;
	line-height: 1em;
	font-weight: 800;
}
section.intro h3, div.main h3 {
	font-size: 1.8rem;
	line-height: 1.2em;
	font-weight: 500;
}

/* Layout */

div.page-wrapper {
	display: grid;
	grid-template-columns: 1fr;
}

section.intro {
	min-height: 100vh;
}
aside.sidebar div.wrapper {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

section.intro, div.main, aside.sidebar {
	border: 1px dashed;
	padding: 1rem;
	max-width: 75ch;
	margin: 0 auto;
}

section.intro header, section.intro > div {
	border: 1px solid;
	margin: 1rem;
	padding: 1rem;
}

div.main > div, div.main footer {
	border: 1px solid;
	margin: 1rem;
	padding: 1rem;
}

aside.sidebar .wrapper > div {
	border: 1px solid;
	margin: 1rem;
	padding: 1rem;
}

@media(min-width:750px){
	div.page-wrapper {
		grid-template-columns: minmax(50vw,auto) auto;
	}
	section.intro {
		grid-column: 1/3;
	}
}