/* Typography */

@import url('https://rsms.me/inter/inter.css');
body { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif; }
}

body {
	font-feature-settings: "salt" 1;
	line-height: 1.4rem;
	color: #222;
}

p { 
	font-weight: 400; 
}
a, a:visited, a:hover {
	color: #222;
}

section.intro header h1 {
	font-size: 2.5rem;
	line-height: 1em;
	font-weight: 100;
}
section.intro header h2 {
	font-size: 3rem;
	line-height: 1em;
	font-weight: 800;
}
section.intro h3, div.main h3 {
	font-size: 1.8rem;
	line-height: 1.2em;
	font-weight: 700;
}

/* Layout */

div.page-wrapper {
	display: grid;
	grid-template-columns: 1fr;
}

aside.sidebar div.wrapper {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

section.intro > header {
	text-align: center;
	margin: 2rem;
}

div.summary, div.preamble, div.main, aside.sidebar {
	padding: 1rem;
	max-width: 75ch;
	margin: 1rem auto;
}

section.intro > div, div.main > div, div.main footer, aside.sidebar .wrapper > div {
	margin: 1rem auto;
	padding: 1rem;
	background-color: #f9f9f9;
}

@media(min-width:750px){
	div.page-wrapper {
		grid-template-columns: minmax(50vw,auto) auto;
	}
	section.intro {
		grid-column: 1/3;
	}
}
